@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: #333;
}

.intro {
  width: 90%;
  margin-right: 5%;
  margin-bottom: 5%;
}
.intro a {
  color: #fff;
}
.intro h2 {
  margin-top: 0rem;
  font-weight: normal;
  font-size: 1.15rem;
}

.sidebar-content {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 60px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Source Sans Pro", sans-serif;
}

.sidebar-content > *:nth-child(1) {
  flex: 1 1 30%;
  min-width: 40ch;
}

.sidebar-content > *:nth-child(2) {
  flex: 1 1 70%;
  min-width: 40ch;
}

.sidebar {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  min-height: 100px;
  margin-left: 25%;
  margin-right: 25%;
}
.icons a {
  color: #fff;
  padding: 0.5em;
}

.main {
  padding: 1em;
}
.main h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.rb-container {
  width: 80%;
  display: block;
  position: relative;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: -20px;
}
.rb-container ul.rb li {
  list-style: none;
  min-height: 40px;
  border-left: 5px solid #fff;
  padding: 0 0 40px 30px;
  position: relative;
}
.rb-container ul.rb li:last-child {
  border-left: 0;
  margin-left: 5px;
}
.rb-container ul.rb li::before {
  position: absolute;
  left: -17px;
  top: -4px;
  content: " ";
  border: 6px solid #777;
  border-radius: 500%;
  background: #50d890;
  height: 30px;
  width: 30px;
  transition: all 400ms ease-in-out;
}
.rb-container ul.rb li:hover::before {
  border-color: #fff;
  transition: all 400ms ease-in-out;
}
.rb-container li:last-child:hover {
  border-bottom-left-radius: 20px 20px;
}
.rb-container .rb-item:hover {
  background-color: #555;
  transition: background-color 400ms ease-out;
  border-top-right-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
}
.rb-container ul.rb li .timestamp {
  color: #50d890;
  position: relative;
}
.rb-container ul.rb li .title {
  position: relative;
  font-size: 1.2em;
  font-weight: bold;
}
.rb-container ul.rb li .description {
  position: relative;
  font-size: 0.9em;
  color: #ccc;
}
.rb-container ul.rb li .thesis {
  position: relative;
  font-style: italic;
  color: #ccc;
}
.rb-container ul.rb li .thesis::before {
  content: "Thesis: ";
  font-style: normal;
}
.rb-container ul.rb li .topic {
  position: relative;
  font-style: italic;
  color: #ccc;
}
.rb-container ul.rb li .topic::before {
  content: "Topic: ";
  font-style: normal;
}
.rb-container a {
  color: #fff;
  text-decoration: underline dotted #999;
}
.rb-container a:hover {
  color: #50d890;
}

@media (max-width: 51.5em) {
  .rb-container {
    width: 100%;
  }
}
.portrait {
  border-radius: 50%;
  width: 75%;
  max-width: 400px;
}

.project-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #333;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  content-visibility: auto;
}
.project-card a {
  color: #fff;
  font-size: 1em;
}
.project-card a:hover {
  color: #50d890;
}
.project-card:hover .photo {
  transform: scale(1.2);
}
.project-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.project-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.project-card .details,
.project-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.project-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.project-card .details h3 {
  margin-top: 0.5rem;
}
.project-card .details a {
  text-decoration: dotted underline;
}
.project-card .details ul li {
  display: inline-block;
}
.project-card .details .tags li {
  margin-right: 2px;
}
.project-card .details .tags li:first-child {
  margin-left: -4px;
}
.project-card .description {
  padding: 1rem;
  background: #555;
  position: relative;
  z-index: 1;
}
.project-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.project-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 5px;
}
.project-card p {
  position: relative;
  margin: 1rem 0 0;
}
.project-card p:first-of-type {
  margin-top: 1.25rem;
}
.project-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #50d890;
  width: 50px;
  top: -0.75rem;
  border-radius: 3px;
}
.project-card:hover .details {
  left: 0%;
}
@media (min-width: 51.5em) {
  .project-card {
    flex-direction: row;
    max-width: 80%;
  }
  .project-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .project-card .description {
    flex-basis: 60%;
  }
  .project-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #555;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .project-card.alt {
    flex-direction: row-reverse;
  }
  .project-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .project-card.alt .details {
    padding-left: 25px;
  }
}

.languages {
  display: flex;
  max-width: 80%;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 10%;
  text-align: center;
  flex-wrap: wrap;
  content-visibility: auto;
}
.languages .col {
  padding: 1em;
  flex-grow: 0.75;
}
.languages .col img {
  max-height: 60px;
}
.languages .col .rating {
  display: inline-block;
  text-align: center;
  width: 50px;
  float: none;
}
.languages img:hover {
  transform: scale(1.3);
  transition: all 300ms ease-out;
}
.languages > *:nth-child(4) {
  flex-grow: 1;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.tabs label {
  order: 1;
  display: block;
  padding: 1rem 1.5rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #555;
  font-weight: bold;
  transition: background ease 500ms;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: inset 0px -4px 0px -2px #333;
}
.tabs label:hover {
  box-shadow: 0 0 2px 2px #50d890;
  transition: all 200ms ease-out;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #555;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  content-visibility: auto;
}
.tabs .tab .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tabs .tab .section {
  padding-top: 1rem;
  padding-right: 0.5rem;
  width: 35ch;
}
.tabs .tab .section ul {
  margin-left: 25px;
}
.tabs .tab .section a {
  color: white;
  text-decoration: dotted underline #999;
}
.tabs .tab .section a:hover {
  color: #50d890;
}
.tabs input[type=radio] {
  display: none;
}
.tabs input[type=radio]:checked + label {
  box-shadow: inset 0px -4px 0px -2px #50d890;
}
.tabs input[type=radio]:checked + label + .tab {
  display: block;
}

@media (max-width: 51.5em) {
  .tabs .tab,
.tabs label {
    order: initial;
  }

  .tabs {
    width: 100%;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .tabs .tab {
    border-top-right-radius: 0px;
  }

  .tabs label:hover {
    box-shadow: none;
  }

  input[type=radio]:checked + label {
    background: #50d890;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .tabs .tab .wrapper {
    justify-content: flex-start;
  }

  .tabs .tab .wrapper .section {
    margin-left: 0px;
    width: 100%;
  }
  .tabs .tab .wrapper .section li {
    margin-left: 10px;
  }
}
.publications {
  width: 80%;
  margin: auto;
  content-visibility: auto;
}
.publications .pub-title {
  font-size: 1.25rem;
  font-style: italic;
}
.publications .pub-title::before {
  content: '"';
  font-style: normal;
  margin-right: -0.2rem;
}
.publications .pub-title::after {
  content: '"';
  font-style: normal;
}
.publications i {
  font-size: 1.5rem;
  margin-right: 1rem;
}
.publications li {
  list-style: none;
  padding: 0.5rem;
}
.publications a {
  color: white;
  text-decoration: none;
}
.publications a:hover {
  color: #50d890;
}

@media (max-width: 51.5em) {
  .publications {
    width: 100%;
  }

  .intro {
    width: 100%;
    margin-right: 0;
    margin-top: -30px;
  }

  .sidebar-content {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
  }
}
.rating {
  display: inline;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
  margin-right: 5px;
  padding: 2px;
  background-color: #50d890;
  float: right;
  width: 15%;
  content-visibility: auto;
}
.rating::after {
  clear: both;
}
.rating:hover {
  transform: scale(1.2);
  transition: all 200ms ease-out;
}

/*# sourceMappingURL=main.css.map */
