@charset "UTF-8";
@import url("https://api.fonts.coollabs.io/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://api.fonts.coollabs.io/css2?family=Raleway:wght@500&display=swap");
@import url("https://api.fonts.coollabs.io/css2?family=Megrim&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
}

.landing_wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #222222;
}

canvas {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  position: absolute;
  z-index: 1;
}

.fancy::first-letter {
  color: #71a0c8;
}

.landing {
  height: calc(100vh - (100vh - 100%));
  width: 100vw;
  max-width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
}
.landing .landing_content {
  width: 60vw;
  max-width: 1000px;
  height: 30vh;
  align-self: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
}
.landing .landing_content h1 {
  font-size: 4.6vw;
  opacity: 0;
  animation: fadeInDown 1s ease-out 0.25s forwards;
  font-family: "Megrim";
}
.landing .landing_content .sub {
  display: flex;
  flex-direction: row;
  content: " ";
  white-space: pre;
}
.landing .landing_content .sub .fancy::first-letter {
  margin-left: 0.25em;
}
.landing .landing_content h2 {
  font-size: 2vw;
  opacity: 0;
  animation: fadeInDown 1s ease-out 1.5s forwards;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.landing .landing_arrow {
  display: none;
}

.aboutme {
  display: flex;
  justify-content: space-evenly;
}
.aboutme .aboutme_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  margin: 5% 5% 5% 5%;
}
.aboutme .aboutme_left picture {
  align-self: center;
}
.aboutme .aboutme_left picture .portrait {
  height: 20vh;
  width: 20vh;
  min-width: 250px;
  min-height: 250px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.aboutme .aboutme_left .icons {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
}
.aboutme .aboutme_left .icons a {
  color: #555;
  padding: 0.5em;
  font-size: max(16px, 1.5vh);
  opacity: 0;
}
.aboutme .aboutme_left .icons a.active {
  animation: fadeInDown 0.5s ease-out 0.25s forwards;
}
.aboutme .aboutme_left .icons a.active :hover {
  transform: scale(1.2);
}
.aboutme .aboutme_right {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 5% 5% 5% 5%;
}
.aboutme .aboutme_right h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  margin-bottom: 1rem;
}

.timeline::before, .timeline::after {
  position: fixed;
  left: 50%;
  top: 0;
  width: 5px;
  content: "";
  z-index: -1;
}
.timeline::before {
  height: 100vh;
  background-color: #999;
}
.timeline::after {
  height: 50vh;
  background-color: #222222;
}
.timeline .timeline_header {
  display: flex;
  justify-content: space-evenly;
}
.timeline .timeline_header h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
}
.timeline .timeline_header .timeline_header_left {
  display: flex;
  justify-content: flex-end;
  width: 50vw;
  margin: 0% 5% 25px 10%;
}
.timeline .timeline_header .timeline_header_right {
  display: flex;
  justify-content: flex-start;
  width: 50vw;
  margin: 0% 10% 25px 5%;
}
.timeline .timeline_item {
  margin-left: 50%;
  padding: 0 5% 0 5%;
}
.timeline .timeline_item h1 {
  font-size: 22px;
}
.timeline .timeline_item h1::before {
  width: 30px;
  height: 30px;
  position: absolute;
  display: inline-block;
  content: "";
  left: calc(50% - 12.5px);
  margin-top: 5px;
  border: 5px solid #999;
  border-radius: 50%;
  background-color: #fff;
}
.timeline .timeline_item h1.active::before {
  border-color: #222222;
  animation: 250ms ease 0ms forwards 1 pulse;
}
.timeline .timeline_item h2 {
  font-size: 18px;
  color: #555;
}
.timeline .timeline_item.alt {
  flex-direction: row-reverse;
  margin: 0 50% 0 0;
  padding: 0 5% 25px 5%;
  text-align: right;
}

.skills {
  color: #fff;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  margin-top: 100px;
  padding-bottom: 0px;
}
.skills .skills_header {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  padding: 50px 0 50px 0;
}
.skills .skills_panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 5% 0 5%;
}
.skills .skills_panel .skills_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.skills .skills_panel .skills_nav h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 60px;
  font-size: 22px;
  text-align: center;
}
.skills .skills_panel .skills_nav .active {
  box-shadow: inset 0 -5px #71a0c8;
}
.skills .skills_panel .skills_nav :hover {
  background-color: #71a0c8;
}
.skills .skills_panel .skills_content {
  display: flex;
  flex-direction: row;
  padding: 50px 0 50px 0;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.skills .skills_panel .skills_content::-webkit-scrollbar {
  display: none;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 100%;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section {
  width: 30%;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section h3 {
  padding: 10px 0;
  font-size: 20px;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section a {
  color: #fff;
  text-decoration: underline dotted #666;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section ul {
  list-style-position: inside;
  font-size: min(18px, 1.6vw);
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section ul li {
  padding: 5px 10px;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section ul li::marker {
  content: "▶ ";
  color: #71a0c8;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .rating {
  display: inline;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  margin-right: 5px;
  padding: 3px;
  float: right;
  width: 15%;
  min-width: 32px;
  content-visibility: auto;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .rating::after {
  clear: both;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .rating:hover {
  transform: scale(1.2);
  transition: all 200ms ease-out;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .rating.expert {
  background-color: #71a0c8;
  border: 1px solid #71a0c8;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .rating.advanced {
  background-color: #777;
  border: 1px solid #777;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .rating.basic {
  background-color: #222222;
  border: 1px solid #fff;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .languages {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 10%;
  text-align: center;
  flex-wrap: wrap;
  content-visibility: auto;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .languages .col {
  padding: 1em;
  flex-grow: 0.75;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .languages .col img {
  max-height: 60px;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .languages .col .rating {
  display: inline-block;
  text-align: center;
  width: 50px;
  float: none;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .languages img:hover {
  transform: scale(1.3);
  transition: all 300ms ease-out;
}
.skills .skills_panel .skills_content .skills_content_page_wrapper .skills_content_page .section .languages > *:nth-child(4) {
  flex-grow: 1;
}

.projects {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5% 0 5%;
  width: 90vw;
}
.projects .projects_header {
  display: flex;
  flex-direction: row;
}
.projects .projects_header > h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  text-align: center;
  justify-content: center;
  margin-top: 250px;
  width: 33%;
}
.projects .card {
  width: 66%;
  padding-top: 30px;
}
.projects .card .wrapper {
  min-height: 500px;
  position: relative;
  box-shadow: 0 19px 38px rgba(34, 34, 34, 0.3), 0 15px 12px rgba(34, 34, 34, 0.2);
  overflow: hidden;
}
.projects .card .wrapper:hover .data, .projects .card .wrapper.active .data {
  transform: translateY(0);
}
.projects .card.alt {
  margin-left: 33%;
}
.projects .card .banner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  height: 100%;
}
.projects .card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(100% - 16px - 24px - 40px - 10px));
  transition: transform 0.3s;
}
.projects .card .data .content {
  background-color: #222222;
  opacity: 0.95;
  color: white;
  box-shadow: 0 5px 30px 10px rgba(34, 34, 34, 0.3);
  padding: 1.75em;
  position: relative;
  z-index: 1;
}
.projects .card .type {
  font-size: 12px;
}
.projects .card .title {
  margin-top: -10px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}
.projects .card .title a {
  color: white;
  float: right;
}
.projects .card .descr {
  font-size: 18px;
  margin-bottom: 20px;
  color: #bbb;
}
.projects .card .topic {
  margin-top: 20px;
  font-size: 16px;
}
.projects .card .topic::before {
  content: "Topics: ";
  font-weight: 800;
  padding-right: 10px;
}
.projects .card .tech {
  margin-top: 0px;
  font-size: 16px;
}
.projects .card .tech::before {
  content: "Technologies: ";
  font-weight: 800;
  padding-right: 10px;
}
.projects .card .text {
  margin: 0;
  font-size: 16px;
}
.projects .card input[type=checkbox] {
  display: none;
}
.projects .card input[type=checkbox]:checked {
  transform: translateY(-60px);
}

.publications {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  margin: 50px 0 50px 0;
}
.publications .publications_header {
  align-self: flex-start;
  margin-left: 55%;
  margin-top: 50px;
}
.publications .publications_header h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
}
.publications .publications_content .publication {
  width: 80vw;
  border: solid #222222;
  border-radius: 10px;
  padding: 10px 10px 10px 100px;
  background-color: #fff;
  margin: 25px 0;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.publications .publications_content .publication a {
  color: #000;
  text-decoration: none;
}
.publications .publications_content .publication::before {
  font-family: "Font Awesome 5 Free";
  content: "\f15c";
  font-size: 40px;
  display: inline-block;
  margin: 10px 15px;
  position: absolute;
  left: calc(10% + 20px);
}
.publications .publications_content .publication .publications_journal {
  color: #555;
  font-size: 0.9em;
}
.publications .publications_content .publications_title {
  font-style: italic;
}

.footer {
  width: 100vw;
  max-width: 100%;
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222222;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 20px 50px 20px 50px;
}
.footer .enjoy {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  text-align: center;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes fadeInDown05 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  20% {
    opacity: 0.7;
    transform: translateY(0);
  }
  80% {
    opacity: 0.7;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes fadeOutDown05 {
  0% {
    opacity: 0.7;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/*# sourceMappingURL=tablet.css.map */
